@import "tailwindcss";

@plugin "daisyui" {
	/* TODO: Implement custom light theme */
	themes: placid;
}

@plugin "daisyui/theme" {
	name: "placid";
	default: true; /* set as default */
	prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: dark; /* color of browser-provided UI */

	--color-base-100: #000000;
	--color-base-200: #000000;
	--color-base-300: #393a34;
	--color-base-content: #dbd7ca;
	--color-primary: #4d9375;
	--color-primary-content: #000000;
	--color-secondary: #d9739f;
	--color-secondary-content: #000;
	--color-accent: #5eaab5;
	--color-accent-content: #000;
	--color-neutral: #393a34;
	--color-neutral-content: #dbd7ca;
	--color-info: #6394bf;
	--color-info-content: #000;
	--color-success: #4d9375;
	--color-success-content: #000000;
	--color-warning: #e6cc77;
	--color-warning-content: #000000;
	--color-error: #cb7676;
	--color-error-content: #000000;

  /* border radius */
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;

  /* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

  /* border size */
	--border: 1px;

  /* effects */
	--depth: 0;
	--noise: 1;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
}

/*!
    Theme: devibeans (dark)
    Author: @terminaldweller
    Maintainer: @terminaldweller

    Inspired by vim's jellybeans theme (https://github.com/nanotech/jellybeans.vim)
*/
.hljs {
  color: #393a34;
}
.hljs-attr,
.hljs-template-tag {
  color: #4d9375;
}
.hljs-comment,
.hljs-doctag,
.hljs-quote {
  color: #339966;
}
.hljs-params {
  color: #a39e9b;
}
.hljs-regexp {
  color: #d700ff;
}
.hljs-tag,
.hljs-selector-id,
.hljs-number,
.hljs-literal {
  color: #ef5350;
}
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #0087ff;
}
.hljs-selector-class,
.hljs-code,
.hljs-formula,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link,
.hljs-keyword {
  color: #64b5f6;
}
.hljs-built_in,
.hljs-title,
.hljs-deletion {
  color: #ff8700;
}
.hljs-type,
.hljs-section,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-attribute {
  color: #ffd75f;
}
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #6394bf;
}
.hljs-selector-tag {
  color: #9966ff;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}





